@CHARSET "UTF-8";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	color: #ffffff;
	font-family: 'Arial';
	background-color: #37006f;
	vertical-align: middle;
	text-align: center;
}

ul {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #555;
	display: inline-block;
}

h1 {
	font-size: 40px;
}

h1, h5 {
	font-weight: normal;
}

h5 {
	font-size: 20px;
	line-height: 34px;
}

h4 {
	min-height: 25px;
}

p {
	margin-top: 16px;
}

.logo, .options, .searchChannel, .addedWord {
	display: inline-block;
	height: 100%;
}

.search, .filtr {
	display: block;
	width: 100%;
	padding: 2px;
	text-align: left;
}

.row {
	margin-left: 1px;
	margin-right: 1px;
}

.tweet {
	vertical-align: middle;
	padding: 2px;
	background-color: #5300a6;
	width: 100%;
	border-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #3e3e3e;
	border-left-color: #8a8a8a;
	border-left-width: 4px;
	border-right-width: 4px;
	border-right-color: #8a8a8a;
	border-top-color: #e1e1e1;
	border-top-width: 2px;
	
}

.photo {
	height: auto;
	border-color: white;
	border-width: 8px;
	border-style: solid;
}

.header {
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-bottom-color: #3e3e3e;
	vertical-align: middle;
}

.footer {
	border-top-style: solid;
	border-top-width: 4px;
	border-top-color: #3e3e3e;
}

.pageButon, .timeLine, .header, .footer {
	max-width: 1280px;
	margin: 0 auto;
	width: 100%;
	padding: 20px;
	border-color: white;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-style: ridge;
	background-color: #3f007d;
	vertical-align: middle;
}

.button {
	margin: 2px;
}

.contentTweet {
	width: 100%;
	border-color: white;
}

.tweetDate {
	
}

.loadingPage {
	margin: 0 auto;
	max-width: 1150px;
	height: 500px;
	background-image: url("../img/loadingPage.gif");
	background-position: center;
	background-repeat: no-repeat;
}

.travolta {
	margin: 0 auto;
	margin-bottom: -10px;
	max-width: 1150px;
	height: 500px;
	background-image: url("../img/travolta.gif");
	background-position: center;
	background-repeat: no-repeat;
	max-width: 1150px;
}

.userInfo{
	height: 100%;
	padding: auto;
	vertical-align: middle;
	display: table-cell;
}

.media img {
	position: relative;
	display: block;
	max-width: 100%;
}